input[type=text] {
    width: 100%;
    border: 1px solid white;
    border-radius: 2em;
    background-image: url('/img/search.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: cyan;
    padding: 12px 20px 12px 40px;
    font-size: 1.5rem;
}